body {
	font-family: Arial,Helvetica,Garuda,sans-serif;
	line-height: 20px;

}


#header {
	height: 90px;
	background-color: #fefefe;

}
#site_name {
	color: #444444;
	font-size: 40px;
}
#site_description {
	color: #444444;
	font-size: 11px;
}
#logo, #logo_text {
	bottom: -3px;
}
#navigation .menu > li.hover > a,
#navigation .menu > li.hover > a:active,
#navigation .menu > li.hover > a:visited {
	color: #000000
}#navigation .menu > li.current-menu-item > a,
#navigation .menu > li.current-menu-item > a:visited,
#navigation .menu > li.current-menu_item > a,
#navigation .menu > li.current-menu_item > a:visited,
#navigation .menu > li.current-menu-ancestor > a,
#navigation .menu > li.current-menu-ancestor > a:visited,
#navigation .menu > li.current_page_item > a,
#navigation .menu > li.current_page_item > a:visited,
#navigation .menu > li.current_page_ancestor > a,
#navigation .menu > li.current_page_ancestor > a:visited,
#navigation .menu > li.current-page-item > a ,
#navigation .menu > li.current-page-item > a:visited,
#navigation .menu > li.current-page-ancestor > a,
#navigation .menu > li.current-page-ancestor > a:visited {
	color:  ;
}#navigation > ul > li {
	height: 60px;
}
#navigation > ul > li > a {
	height:auto;
	line-height: 100%;
	padding: 10px 15px;
	margin: 10px 5px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#navigation .menu > li > a, #navigation .menu > li > a:visited {
	font-size: 17px;
	color: #000000;
	background-color: transparent;
}
#navigation ul li.hover ul li a, #navigation ul ul li a, #navigation ul ul li a:visited {
	font-size: 14px;
	color: #000000;
}
#navigation ul li ul {
	background-color: #f5f5f5;
}
#navigation .sub-menu .current-menu-item > a,
#navigation .sub-menu .current-menu-item > a:visited,
#navigation .sub-menu .current-menu_item > a,
#navigation .sub-menu .current-menu_item > a:visited,
#navigation .sub-menu .current-menu-ancestor > a,
#navigation .sub-menu .current-menu-ancestor > a:visited,
#navigation .sub-menu .current-page-item > a,
#navigation .sub-menu .current-page-item > a:visited,
#navigation .sub-menu .current-page-ancestor > a,
#navigation .sub-menu .current-page-ancestor > a:visited,
#navigation .sub-menu .current_page_item > a,
#navigation .sub-menu .current_page_item > a:visited,
#navigation .sub-menu .current_page_ancestor > a,
#navigation .sub-menu .current_page_ancestor > a:visited  {
	color: #000000;
	background-color: #f5f5f5;
}
#navigation ul ul li a:hover, #navigation ul ul li a:active,
#navigation ul li.hover ul li a:hover, #navigation ul li.hover ul li a:active {
	color: #000000 !important; 
}
#navigation ul li ul li a:hover, #navigation ul ul li a:hover {
	background-color: #dddddd !important;
}
a:hover {
	text-decoration:none;
}
#feature {
	background-color: #000000;

}
#feature h1 {
	font-size: 42px;
	color: #ffffff;
}
#introduce {
	font-size: 21px;
	color: #ffffff;
}
#introduce a {
	color: #ffffff;
}
#page {
	background-color: #fefefe;

	color: #333333;
	font-size: 12px;
}

.wp-pagenavi a:hover {
	font-size: 14px;
}
.wp-pagenavi span.current {
	font-size: 16px;
}
ul.mini_tabs li.current, ul.mini_tabs li.current a {
	background-color: #fefefe;
}
.tabs_container .panes {
	background-color: #ffffff;
	color: #333333;
}
.divider.top a {
	background-color: #fefefe;
}
#breadcrumbs {
	font-size: 11px;
}
#page h1,#page h2,#page h3,#page h4,#page h5,#page h6{
	color: #333333;
}
#page h1 {
	color: #333333;
}
#page h2 {
	color: #333333;
}
#page h3 {
	color: #333333;
}
#page h4 {
	color: #333333;
}
#page h5 {
	color: #333333;
}
#page h6 {
	color: #333333;
}
#page a, #page a:visited {
	color: #666666;
}
#page a:hover, #page a:active {
	color: #333333;
}
#page h1 a,#page h1 a:visited,#page h1 a:hover,#page h1 a:active {
	color: #333333;
}
#page h2 a,#page h2 a:visited,#page h2 a:hover,#page h2 a:active {
	color: #333333;
}
#page h3 a,#page h3 a:visited,#page h3 a:hover,#page h3 a:active {
	color: #333333;
}
#page h4 a,#page h4 a:visited,#page h4 a:hover,#page h4 a:active {
	color: #333333;
}
#page h5 a,#page h5 a:visited,#page h5 a:hover,#page h5 a:active {
	color: #333333;
}
#page h6 a,#page h6 a:visited,#page h6 a:hover,#page h6 a:active {
	color: #333333;
}
#page .portfolios.sortable header a {
	background-color:#eeeeee;
	color:#666666;
}
#page .portfolios.sortable header a.current, #page .portfolios.sortable header a:hover {
	background-color:#eeeeee;
	color:#666666;
}
.portfolio_more_button .button {
	background-color: #333333;
}
.portfolio_more_button .button span {
	color: #ffffff;
}
.portfolio_more_button .button:hover, .portfolio_more_button .button.hover {
	background-color: #333333;
}
.portfolio_more_button .button:hover span, .portfolio_more_button .button.hover span {
	color: #ffffff;
}
#sidebar .widget a, #sidebar .widget a:visited {
	color: #666666;
}
#sidebar .widget a:hover, #sidebar .widget a:active {
	color: #333333;
}
#sidebar .widgettitle {
	color: #333333;
	font-size: 24px;
}
#breadcrumbs {
	color: #999999;
}
#breadcrumbs a, #breadcrumbs a:visited {
	color: #999999;
}
#breadcrumbs a:hover, #breadcrumbs a:active {
	color: #999999;
}
.portfolio_title, #page .portfolio_title a, #page .portfolio_title a:visited {
	font-size: 24px;
	color: #333333;
}
.portfolio_desc {
	font-size: 12px;
}
#footer {
	background-color:#000000;
	color: #ffffff;
	font-size: 12px;

}
#footer .widget a, #footer .widget a:visited{
	color: #ffffff;
}
#footer .widget a:active, #footer .widget a:hover{
	color: #ffffff;
}
#footer h3.widgettitle {
	color: #ffffff;
	font-size: 24px;
}
#footer_bottom {
	background-color:transparent;
}
#copyright {
	color: #ffffff;
	font-size: 14px;
}
#footer_menu a {
	font-size: 12px;
}
#footer_menu a, #footer_menu a:visited{
	color: #ffffff;
}
#footer_menu a:hover, #footer_menu a:active {
	color: #ffffff;
}
#footer_bottom a, #footer_bottom a:visited{
	color: #ffffff;
}
#footer_bottom a:hover, #footer_bottom a:active {
	color: #ffffff;
}
.entry_frame, .divider, .divider_line, .commentlist li,.entry .entry_meta,#sidebar .widget li,#sidebar .widget_pages ul ul,#about_the_author .author_content {
	border-color: #eeeeee;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
#nivo_slider_wrap, #nivo_slider_loading, #nivo_slider {
	height: 410px;
}
#nivo_slider_frame {
	height: 409px;
}
#nivo_slider_loading {
	background-color: #ffffff;
}
.nivo-caption {
	background-color: #000000;
	color: #ffffff;
}
.slider_control_bg {
	background-color: #000000;
}
#kwicks, #kwicks li {
	height: 440px;
}
.kwick_frame,.kwick_last_frame {
	height: 439px;
}
ul.anythingBase li.panel, div.anythingSlider .anythingWindow {
	background-color: #ffffff;
}
#anything_slider_loading {
	background-color: #ffffff;
}
#anything_slider_wrap, #anything_slider_loading, #anything_slider {
	height: 440px;
}
#anything_slider p {
	font-size: 12px;
}
.anything_caption h3 {
	font-size: 24px;
}
#kwicks li .kwick_title {
	font-size: 16px;
	color: #ffffff;
	background-color: #000000;
}
#kwicks li .kwick_detail h3 {
	font-size: 24px;
	color: #ffffff;
}
#kwicks li .kwick_detail {
	font-size: 12px;
	color: #ffffff;
	background-color: #000000;
}
.anything_caption {
	background-color: #000000;
}
.anything_caption h3 {
	color: #ffffff !important;
}
.anything_caption p {
	color: #ffffff !important;
}
.caption_left, .caption_right {
	height: 410px;
}
.entry {
	margin-bottom: 80px;
}
.entry_title {
	font-size: 36px;
}
.entry_left .entry_image .image_frame {
	width: 200px;
	height: 200px;
}
.entry_left .entry_image, .entry_left .entry_image .image_shadow {
	width: 202px;
}
.read_more_link.button {
	background-color: #333333;
}
.read_more_link.button span {
	color: #ffffff;
}
.read_more_link.button:hover, .read_more_link.button.hover {
	background-color: #333333;
}
.read_more_link.button:hover span, .read_more_link.button.hover span {
	color: #ffffff;
}
#page .entry .entry_title a,
#page .entry .entry_title a:visited {
	color: #333333;
}
#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {
	color: #333333;
}
#page .entry_meta a, #page .entry_meta a:visited {
	color: #666666;
}
#page .entry_meta a:hover, #page .entry_meta a:active {
	color: #333333;
}
ul.tabs li a {
	background-color: #f5f5f5;
}
#page ul.tabs li a {
	color: #666666;
}
ul.tabs li a.current {
	background-color: #ffffff;
}
#page ul.tabs li a.current {
	color: #333333; 
}
ul.mini_tabs li a {
	background-color: #f5f5f5;
}
#page ul.mini_tabs li a {
	color: #666666;
}
ul.mini_tabs li a.current {
	background-color: #ffffff;
}
#page ul.mini_tabs li a.current {
	color: #333333; 
}
.accordion .tab {
	background-color: #f5f5f5;
}
.accordion .tab a {
	color: #666666 !important;
}
.accordion .tab.current {
	background-color: #ffffff;
}
.accordion .tab.current a {
	color: #333333 !important;
}
#page input[type="text"],
#page input[type="password"],
#page input[type="email"],
#page input[type="file"],
#page input[type="datetime"],
#page input[type="datetime-local"],
#page input[type="date"],
#page input[type="month"],
#page input[type="time"],
#page input[type="week"],
#page input[type="number"],
#page input[type="url"],
#page input[type="search"],
#page input[type="tel"],
#page input[type="color"],
#page textarea {
	color: #333333;
}
#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer input[type="file"],
#footer input[type="datetime"],
#footer input[type="datetime-local"],
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer textarea, 
#footer .text_input, 
#footer .textarea {
	color:  #ffffff;
}
li.current_page_item {
	background-color: #ea1c90;
        border-radius: 10px;
        margin_bottom: 2px;
}

li.page-item-11.current_page_item {
	background-color: #2dade4;
}

li.page-item-7.current_page_item {
	background-color: #aacd30;
}

li.page-item-9.current_page_item {
	background-color: #8d3092;
}

li.page-item-10.current_page_item {
	background-color: #2388cc;
}

#navigation > ul > li {
        height: 58px;
}
.admin-bar #header-sticker-wrapper.sticker-sticky #header {
        margin-top: 32px;
}

#header {
        position: fixed;
}