/* ======================================================= */
/*                      Global Reset                       */
/* ======================================================= */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-18
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	vertical-align: baseline;
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	background: transparent;
	vertical-align: baseline;
	font-size: 100%;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-weight: bold;
	font-style: italic;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted inherit;
	cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* change border colour to suit your needs */
hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
}
input, select {
	vertical-align: middle;
}
/* corrects overflow displayed oddly in ie 9 */
svg:not(:root) {
	overflow: hidden;
}
cufon {
	overflow: hidden;
}
iframe {
	max-width: 100%;
}
/* ======================================================= */
/*                       Base Style                        */
/* ======================================================= */
/* Basic typography
---------------------------------------------------------- */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	color: #333;
	font-size: 12px;
	font-family: 'Raleway', sans-serif !important;
	line-height: 20px;
}
strong, th, thead td {
	font-weight: bold;
}
cite, em, dfn {
	font-style: italic;
}
code, kbd, samp, pre, tt, var, input[type=text], input[type=password], input[type=email], textarea {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
code, pre {
	display: block;
	white-space: pre;
}
del {
	color: #666;
	text-decoration: line-through;
}
ins, dfn {
	border-bottom: 1px solid #ccc;
}
small, sup, sub {
	font-size: 85%;
}
abbr, acronym {
	text-transform: uppercase;
	letter-spacing: .1em;
}
a abbr, a acronym {
	border: none;
}
abbr[title], acronym[title], dfn[title] {
	border-bottom: 1px dotted #ccc;
	cursor: help;
}
sup {
	vertical-align: super;
}
sub {
	vertical-align: sub;
}
p, ul, ol, dl, table, fieldset, blockquote, pre, code {
	margin-bottom: 20px;
}
/* Basic size
---------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .6em;
	font-weight: normal;
	line-height: 1em;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
h1 .subTitle, h2 .subTitle, h3 .subTitle, h4 .subTitle, h5 .subTitle, h6 .subTitle {
	display: block;
	margin: 0;
	color: #999;
	font-size: .65em;
}
/* Basic lists
---------------------------------------------------------- */
ul {
	margin-left: 1.5em;
	list-style-type: disc;
}
ul li {
	margin-left: .85em;
}
ul ul {
	list-style-type: square;
}
ul ul ul {
	list-style-type: circle;
}
ol {
	margin-left: 2.35em;
	list-style-position: outside;
	list-style-type: decimal;
}
dt {
	margin-top: .8em;
	margin-bottom: .4em;
	font-weight: bold;
}
ol ol, ul ol {
	margin-left: 2.5em;
}
ul ol, ol ul, ol ol, ul ul {
	margin-bottom: 0;
}
/* Link style
---------------------------------------------------------- */
a:link, a:visited, a:hover, a:active, a:focus {
	outline: 0 none;
	color: #666;
	text-decoration: none;
}
/* Non-semantic helper classes
---------------------------------------------------------- */
.center {
	text-align: center;
}
.hidden {
	display: none;
	visibility: hidden;
}
.invisible {
	visibility: hidden;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
.clearboth {
	display: block;
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 0;
	font-size: 0;
	line-height: 0;
}
.text-centered {
	text-align: center;
}
/* ======================================================= */
/*                          Form                           */
/* ======================================================= */
.form-item {
	margin: 0 0 10px;
}
.form-item label {
	cursor: pointer;
}
fieldset {
	padding: 1em;
	border: 1px solid #ccc;
}
legend {
	padding: 0 .8em;
	font-weight: bold;
	font-size: 1.2em;
}
textarea, input[type=text], input[type=password], input[type=email], select {
	border: 1px solid #ccc;
	background: #fff;
	font-size: inherit;
}
input, select {
	cursor: pointer;
}
input[type=text], input[type=password], input[type=email] {
	cursor: text;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
textarea, input {
	padding: 5px;
	outline: none;
	max-width: 417px;
}
select {
	padding: 2px;
}
option {
	padding: 0 4px;
}
input[type=button], button {
	padding: 4px;
	vertical-align: middle;
	cursor: pointer;
}
input.text_input, textarea.textarea {
	border: 1px solid #ccc;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background: url("../images/input_bg.png") no-repeat scroll 0 0 transparent;
}
input.text_input:focus, textarea.textarea:focus {
	border: 1px solid #999;
}
/* ======================================================= */
/*                          Table                          */
/* ======================================================= */
table, td, th {
	vertical-align: middle;
}
caption {
	padding-bottom: .8em;
}
/* Table Style
---------------------------------------------------------- */
.table_style {
	margin-bottom: 20px;
	border: 1px solid #dddddd;
}
.table_style table {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #fff;
	border-collapse: collapse;
	text-align: left;
}
.table_style th {
	padding: 12px;
	background-color: #eeeeee;
	color: #555;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
}
.table_style tbody {
	background: #f9f9f9;
}
.table_style td {
	padding: 12px;
	border-top: 1px dashed #fff;
	color: #666;
	text-align: center;
}
.table_style tbody tr:hover td {
	border-top: 1px solid #fff;
	background: #fff;
	color: #333;
}
.table_style tfoot {
	background-color: #f3f3f3;
}
.table_style tfoot td {
	padding: 8px;
}
/* ======================================================= */
/*                         Columns                         */
/* ======================================================= */
/* Basic columns
---------------------------------------------------------- */
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
	position: relative;
	float: left;
	margin-right: 4%;
	min-height: 1px;
	height: auto !important;
	height: 1px;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.6666%;
}
.two_third {
	width: 65.3332%;
}
.one_fourth {
	width: 22%;
}
.two_fourth {
	width: 48%;
}
.three_fourth {
	width: 74%;
}
.one_fifth {
	width: 16.8%;
}
.two_fifth {
	width: 37.6%;
}
.three_fifth {
	width: 58.4%;
}
.four_fifth {
	width: 79.2%;
}
.one_sixth {
	width: 13.3333%;
}
.two_sixth {
	width: 30.6666%;
}
.three_sixth {
	width: 47.9998%;
}
.four_sixth {
	width: 65.3332%;
}
.five_sixth {
	width: 82.6665%;
}
.last {
	clear: right;
	margin-right: 0 !important;
}
/* Two level columns
---------------------------------------------------------- */
.one_half .one_half {
	margin-right: 8.3333%;
	width: 45.8333%;
}
.one_half .one_third {
	margin-right: 8.3333%;
	width: 27.7778%;
}
.one_half .two_third {
	margin-right: 8.3333%;
	width: 63.8889%;
}
.two_third .one_third {
	margin-right: 6.1224%;
	width: 29.2517%;
}
.two_third .two_third {
	margin-right: 6.1224%;
	width: 64.6258%;
}
.two_third .one_fourth {
	margin-right: 6.1224%;
	width: 20.4082%;
}
/* ======================================================= */
/*                         Divider                         */
/* ======================================================= */
.divider {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 40px;
	padding-top: 20px;
	border-bottom: 1px solid #eeeeee;
}
.divider.top a {
	position: absolute;
	top: 10px;
	right: 0;
	padding: 0 2px;
	width: 20px;
	background: none repeat scroll 0 0 #ffffff;
	color: #ccc;
	text-align: right;
	text-decoration: none;
	font-size: 10px;
}
.divider_padding {
	position: relative;
	display: block;
	clear: both;
	padding-top: 30px;
}
.divider_line {
	position: relative;
	display: block;
	clear: both;
	margin-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}
/* ======================================================= */
/*                      Images Styles                      */
/* ======================================================= */
/* Basic image style
---------------------------------------------------------- */
.preloading {
	background: url("../images/loading.gif") #f9f9f9 no-repeat 50% 50%;
}
img.alignleft, .wp-caption.alignleft {
	margin: 2px 16px 2px 2px !important;
}
img.alignright, .wp-caption.alignright {
	margin: 2px 2px 2px 16px !important;
}
img.aligncenter, .wp-caption.aligncenter {
	display: block;
	margin: 2px auto !important;
	text-align: center;
}

/* logo
---------------------------------------------------------- */
img.ie_png {
	width: 173px;
	padding-bottom: 7px;
}


/* wp default image
---------------------------------------------------------- */
.wp-caption {
	margin-bottom: 10px;
	padding-top: 5px;
	border: 1px solid #ddd;
	background: #f5f5f5;
	text-align: center;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
p.wp-caption-text {
	margin: 0;
	padding: 0 5px 5px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
}
/* Image with frame
---------------------------------------------------------- */
.image_styled {
	margin-bottom: 10px;
}
.image_styled.aligncenter .image_frame,.image_styled.aligncenter .image_shadow {
	margin: 0 auto;
}
.image_frame {
	position: relative;
	background: url("../images/loading.gif") #f9f9f9 no-repeat 50% 50%;
}
.image_styled,.image_frame,.image_styled img {
	display: block;
}
.image_frame img {
	visibility: hidden;
}
.image_styled .image_caption {
	display: block;
	margin: 0;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
}
.image_styled.aligncenter .image_caption {
	margin: 0 auto;
}
#feature .image_frame img {
	visibility: visible;
}
.image_frame {
	border: 1px solid #eee;
}
.image_overlay {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.image_icon_zoom .image_overlay {
	background: url("../images/image_icon_zoom.png") no-repeat scroll 50% 50% transparent;
}
.image_icon_play .image_overlay {
	background: url("../images/image_icon_play.png") no-repeat scroll 50% 50% transparent;
}
.image_icon_doc .image_overlay {
	background: url("../images/image_icon_doc.png") no-repeat scroll 50% 50% transparent;
}
.image_icon_link .image_overlay {
	background: url("../images/image_icon_link.png") no-repeat scroll 50% 50% transparent;
}
.image_styled.alignleft {
	margin-right: 16px;
}
.image_styled.alignright {
	margin-left: 16px;
}
.image_no_link {
	cursor: default;
}
/* Picture Frame
---------------------------------------------------------- */
.picture_frame {
	margin-bottom: 20px;
	width: 148px;
	height: 166px;
	background: url("../images/picture_frame.png") no-repeat scroll 0 0 transparent;
}
.picture_frame img {
	padding: 20px 21px 20px 21px;
	width: 106px;
	height: 126px;
}
/* ======================================================= */
/*                    Gallery shortcode                    */
/* ======================================================= */
.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}
.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
}
.gallery .gallery-image {
	visibility: hidden;
	opacity: 0;
}
.gallery .gallery-item {
	float: left;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.gallery .gallery-image-wrap {
	position: relative;
	overflow: hidden;
}
.gallery-image-wrap {
	display: block;
}
.gallery .gallery-item img, .gallery .gallery-item img.thumbnail {
	display: block;
	margin: 0 auto;
	padding: 1%;
	max-width: 89%;
	height: auto;
}
.gallery-caption {
	margin-left: 0;
}
/* Image sizes depending on the number of columns */
.gallery .col-0 {
	width: 100%;
}
.gallery .col-1 {
	width: 100%;
}
.gallery .col-2 {
	width: 50%;
}
.gallery .col-3 {
	width: 33.33%;
}
.gallery .col-4 {
	width: 25%;
}
.gallery .col-5 {
	width: 20%;
}
.gallery .col-6 {
	width: 16.66%;
}
.gallery .col-7 {
	width: 14.28%;
}
.gallery .col-8 {
	width: 12.5%;
}
.gallery .col-9 {
	width: 11.11%;
}
.gallery .col-10 {
	width: 10%;
}
.gallery .col-11 {
	width: 9.09%;
}
.gallery .col-12 {
	width: 8.33%;
}
.gallery .col-13 {
	width: 7.69%;
}
.gallery .col-14 {
	width: 7.14%;
}
.gallery .col-15 {
	width: 6.66%;
}
.gallery .col-16 {
	width: 6.25%;
}
.gallery .col-17 {
	width: 5.88%;
}
.gallery .col-18 {
	width: 5.55%;
}
.gallery .col-19 {
	width: 5.26%;
}
.gallery .col-20 {
	width: 5%;
}
.gallery .col-21 {
	width: 4.76%;
}
.gallery .col-22 {
	width: 4.54%;
}
.gallery .col-23 {
	width: 4.34%;
}
.gallery .col-24 {
	width: 4.16%;
}
.gallery .col-25 {
	width: 4%;
}
.gallery .col-26 {
	width: 3.84%;
}
.gallery .col-27 {
	width: 3.7%;
}
.gallery .col-28 {
	width: 3.57%;
}
.gallery .col-29 {
	width: 3.44%;
}
.gallery .col-30 {
	width: 3.33%;
}
/* ======================================================= */
/*                   Extended Typography                   */
/* ======================================================= */
/* dropcap
---------------------------------------------------------- */
.dropcap1, .dropcap2, .dropcap3, .dropcap4 {
	float: left;
	overflow: hidden;
	text-align: center;
}
.dropcap1 {
	margin: 0 8px -4px 0;
	width: 40px;
	background: url("../images/dropcap_styles_black.png") no-repeat scroll 0 -48px transparent;
	color: #fff;
	font-size: 32px;
	line-height: 42px;
}
.dropcap1.black {
	background-image: url("../images/dropcap_styles_black.png");
}
.dropcap1.gray {
	background-image: url("../images/dropcap_styles_gray.png");
}
.dropcap1.red {
	background-image: url("../images/dropcap_styles_red.png");
}
.dropcap1.orange {
	background-image: url("../images/dropcap_styles_orange.png");
}
.dropcap1.magenta {
	background-image: url("../images/dropcap_styles_magenta.png");
}
.dropcap1.yellow {
	background-image: url("../images/dropcap_styles_yellow.png");
}
.dropcap1.blue {
	background-image: url("../images/dropcap_styles_blue.png");
}
.dropcap1.pink {
	background-image: url("../images/dropcap_styles_pink.png");
}
.dropcap1.green {
	background-image: url("../images/dropcap_styles_green.png");
}
.dropcap1.rosy {
	background-image: url("../images/dropcap_styles_rosy.png");
}
.dropcap2 {
	margin: 0 8px -4px 0;
	padding: 0 2px 0 0;
	width: 38px;
	height: 44px;
	background: url("../images/dropcap_styles_black.png") no-repeat scroll -52px 2px transparent;
	color: #fff;
	font-size: 28px;
	line-height: 44px;
}
.dropcap2.black {
	background-image: url("../images/dropcap_styles_black.png");
}
.dropcap2.gray {
	background-image: url("../images/dropcap_styles_gray.png");
}
.dropcap2.red {
	background-image: url("../images/dropcap_styles_red.png");
}
.dropcap2.orange {
	background-image: url("../images/dropcap_styles_orange.png");
}
.dropcap2.magenta {
	background-image: url("../images/dropcap_styles_magenta.png");
}
.dropcap2.yellow {
	background-image: url("../images/dropcap_styles_yellow.png");
}
.dropcap2.blue {
	background-image: url("../images/dropcap_styles_blue.png");
}
.dropcap2.pink {
	background-image: url("../images/dropcap_styles_pink.png");
}
.dropcap2.green {
	background-image: url("../images/dropcap_styles_green.png");
}
.dropcap2.rosy {
	background-image: url("../images/dropcap_styles_rosy.png");
}
.dropcap3 {
	margin: 0 0 -4px 0;
	width: 44px;
	height: 44px;
	font-size: 40px;
	line-height: 40px;
}
.dropcap4 {
	margin: 0 0 -4px 0;
	width: 44px;
	height: 44px;
	font-size: 36px;
	line-height: 40px;
}
.dropcap3.black, .dropcap4.black {
	color: #333333;
}
.dropcap3.gray, .dropcap4.gray {
	color: #666666;
}
.dropcap3.red, .dropcap4.red {
	color: #e62727;
}
.dropcap3.orange, .dropcap4.orange {
	color: #ff5c00;
}
.dropcap3.magenta, .dropcap4.magenta {
	color: #a9014b;
}
.dropcap3.yellow, .dropcap4.yellow {
	color: #ffb515;
}
.dropcap3.blue, .dropcap4.blue {
	color: #00adee;
}
.dropcap3.pink, .dropcap4.pink {
	color: #e22092;
}
.dropcap3.green, .dropcap4.green {
	color: #91bd09;
}
.dropcap3.rosy, .dropcap4.rosy {
	color: #f16c7c;
}
/** fix cufon position **/
.dropcap1 .cufon-canvas {
	margin-top: -4px;
}
.dropcap2 .cufon-canvas {
	margin-top: -2px;
}
.dropcap3 .cufon-canvas {
	margin-top: -4px;
}
/* highlight
---------------------------------------------------------- */
.highlight {
	background: #ffff99;
}
.highlight.dark {
	background: #333;
	color: #fff;
}
/* code & pre
---------------------------------------------------------- */
.code, .pre {
	overflow: auto;
	padding: 10px;
	border: 1px solid #e0e0e0;
	background: #ffffff;
	white-space: pre-wrap;  /* CSS3 browsers */
	white-space: -moz-pre-wrap !important;  /* 1999+ Mozilla */
	white-space: -pre-wrap;  /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;  /* Opera 7 and up */
}
.code {
	padding: 20px 10px;
	background: url("../images/code_bg.gif") repeat scroll 0 0 #f2f3f5;
}
/* blockquote
---------------------------------------------------------- */
blockquote {
	padding: 10px 20px 10px 45px;
	background: url("../images/quote.gif") no-repeat scroll 0 6px transparent;
	color: #444;
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 24px;
}
blockquote p {
	margin-bottom: 8px;
}
blockquote.alignleft {
	margin: 10px 20px 0 0;
	width: 220px;
}
blockquote.alignright {
	margin: 10px 0 0 20px;
	width: 220px;
}
blockquote cite {
	color: #666;
	font-size: 12px;
}
/* list style
---------------------------------------------------------- */
ul.list1, ul.list2, ul.list3, ul.list4, ul.list5, ul.list6, ul.list7, ul.list8, ul.list9, ul.list10, ul.list11, ul.list12 {
	margin-left: 5px;
	list-style-type: none;
}
ul.list1 li, ul.list2 li, ul.list3 li, ul.list4 li, ul.list5 li, ul.list6 li, ul.list7 li, ul.list8 li, ul.list9 li, ul.list10 li, ul.list11 li, ul.list12 li {
	margin: 4px 0;
	padding-left: 28px;
	background-color: transparent;
	background-image: url("../images/list_styles_black.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
}
ul.list1 li {
	background-position: -340px 0;
}
ul.list2 li {
	background-position: -310px -30px;
}
ul.list3 li {
	background-position: -280px -60px;
}
ul.list4 li {
	background-position: -250px -90px;
}
ul.list5 li {
	background-position: -220px -120px;
}
ul.list6 li {
	background-position: -190px -150px;
}
ul.list7 li {
	background-position: -160px -180px;
}
ul.list8 li {
	background-position: -130px -210px;
}
ul.list9 li {
	background-position: -100px -240px;
}
ul.list10 li {
	background-position: -70px -270px;
}
ul.list11 li {
	background-position: -40px -300px;
}
ul.list12 li {
	background-position: -10px -330px;
}
ul.list_color_black li {
	background-image: url("../images/list_styles_black.png");
}
ul.list_color_gray li {
	background-image: url("../images/list_styles_gray.png");
}
ul.list_color_red li {
	background-image: url("../images/list_styles_red.png");
}
ul.list_color_orange li {
	background-image: url("../images/list_styles_orange.png");
}
ul.list_color_magenta li {
	background-image: url("../images/list_styles_magenta.png");
}
ul.list_color_yellow li {
	background-image: url("../images/list_styles_yellow.png");
}
ul.list_color_blue li {
	background-image: url("../images/list_styles_blue.png");
}
ul.list_color_pink li {
	background-image: url("../images/list_styles_pink.png");
}
ul.list_color_green li {
	background-image: url("../images/list_styles_green.png");
}
ul.list_color_rosy li {
	background-image: url("../images/list_styles_rosy.png");
}
/* Text with icons
---------------------------------------------------------- */
.icon_text {
	padding: 0 0 0 22px;
	background-color: transparent;
	background-image: url("../images/icons.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
}
#footer .icon_text.default {
	background-image: url("../images/footer_icons.png");
}
.icon_globe {
	background-position: -420px 0;
}
.icon_home {
	background-position: -390px -30px;
}
.icon_email {
	background-position: -360px -60px;
}
.icon_user {
	background-position: -330px -90px;
}
.icon_multiuser {
	background-position: -300px -120px;
}
.icon_id {
	background-position: -270px -150px;
}
.icon_addressbook {
	background-position: -240px -180px;
}
.icon_phone {
	background-position: -210px -210px;
}
.icon_link {
	background-position: -180px -240px;
}
.icon_chain {
	background-position: -150px -270px;
}
.icon_calendar {
	background-position: -120px -300px;
}
.icon_tag {
	background-position: -90px -330px;
}
.icon_download {
	background-position: -60px -360px;
}
.icon_cellphone {
	background-position: -30px -390px;
}
.icon_fax {
	background-position: 0 -420px;
}
.icon_text.default {
	background-image: url("../images/icons_black.png");
}
.icon_text.black {
	background-image: url("../images/icons_black.png");
}
.icon_text.gray {
	background-image: url("../images/icons_gray.png");
}
.icon_text.red {
	background-image: url("../images/icons_red.png");
}
.icon_text.orange {
	background-image: url("../images/icons_orange.png");
}
.icon_text.magenta {
	background-image: url("../images/icons_magenta.png");
}
.icon_text.yellow {
	background-image: url("../images/icons_yellow.png");
}
.icon_text.blue {
	background-image: url("../images/icons_blue.png");
}
.icon_text.pink {
	background-image: url("../images/icons_pink.png");
}
.icon_text.green {
	background-image: url("../images/icons_green.png");
}
.icon_text.rosy {
	background-image: url("../images/icons_rosy.png");
}
/* ======================================================= */
/*                Tabs & Accordion & Toggle                */
/* ======================================================= */
/* Tabs
---------------------------------------------------------- */
.tabs_container {
	margin-bottom: 20px;
}
ul.tabs {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
	list-style: none;
}
ul.tabs li {
	display: inline;
	float: left;
	margin: 0 -1px -1px 0;
	padding: 1px;
	border: 1px solid #ddd;
	border-bottom: 0;
}
ul.tabs a { 
	display: block;
	padding: 6px 9px;
	background: #f5f5f5;
	color: #666;
	white-space: nowrap;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
}
ul.tabs a:hover {
	background: #fff;
	text-decoration: none;
}
ul.tabs li a.current {
	background: #fff;
	color: #333;
	cursor: default;
}
.tabs_container .panes {
	margin: 0;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-top: 0;
	background: #fff;
}
.tabs_container .panes > div{
	display: none;
}
.tabs_container .panes > div:first-child {
	display: block;
}
.tabs_container.tabs_inited .panes > div:first-child {
	display: none;
}
#footer ul.tabs li{
	margin: 0 0 -1px 0;
	padding: 0;
}
#footer ul.tabs, #footer ul.tabs li, #footer .tabs_container .panes {
	border-color: #999;
	border-color: rgba(255, 255, 255, 0.15);
}
#footer ul.tabs a {
	background: transparent;
}
#footer ul.tabs a:hover, #footer ul.tabs li a.current {
	background-color: transparent;
}
#footer ul.tabs li a.current {
	background-color: rgba(255, 255, 255, 0.1);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF');
}
#footer .tabs_container .panes {
	padding: 10px 15px;
	background: transparent;
	color: inherit;
}
/* Mini Tabs
---------------------------------------------------------- */
.mini_tabs_container {
	margin-bottom: 20px;
}
ul.mini_tabs {
	overflow: hidden;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	background: url("../images/mini_tabs_border.gif") repeat-x scroll left bottom transparent;
	list-style: none;
}
ul.mini_tabs li {
	display: inline;
	float: left;
	margin: 0 4px 0 0;
	padding: 1px 1px 0;
	border: 1px solid #ddd;
	border-bottom: 0;
	-webkit-border-top-left-radius: 1px;
	-moz-border-radius-topleft: 1px;
	border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
	-moz-border-radius-topright: 1px;
	border-top-right-radius: 1px;
}
ul.mini_tabs a { 
	display: block;
	margin-bottom: 1px;
	padding: 0 10px;
	padding: 2px 10px 2px;
	background: #f5f5f5;
	color: #666;
	white-space: nowrap;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
}
ul.mini_tabs a:hover {
	background: #fff;
	text-decoration: none;
}
ul.mini_tabs li a.current {
	margin-bottom: 0;
	padding-bottom: 3px;
	background: #fff;
	color: #333;
	cursor: default;
}
.mini_tabs_container .panes {
	margin: 0;
	padding: 10px 0;
}
.mini_tabs_container .panes > div{
	display: none;
	overflow: hidden;
}
#footer ul.mini_tabs {
	padding-bottom: 1px;
	padding-left: 0;
	background: url("../images/footer_list_divider.png") repeat-x scroll left bottom transparent;
}
#footer ul.mini_tabs li{
	padding: 0;
	border: none;
}
#footer ul.mini_tabs a {
	padding: 3px 6px 2px;
	background: transparent;
}
#footer ul.mini_tabs a:hover, #footer ul.mini_tabs li a.current {
	background-color: transparent;
}
#footer ul.mini_tabs li a.current {
	background-color: rgba(255, 255, 255, 0.1);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF');
}
/* Accordion
---------------------------------------------------------- */
.accordion {
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
.accordion .tab {
	margin: 0;
	padding: 5px 15px;
	border: 1px solid #fff;
	border-bottom: none;
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
	color: #666;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
}
/* currently active header */
.accordion .tab.current {
	background-color: #fff;
	color: #333;
	cursor: default;
}
/* accordion pane */
.accordion .pane {
	display: none;
	overflow: hidden;
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
}
.accordion .tab:nth-last-child(2) {
	border-bottom: none;
}
.accordion .pane:last-child {
	border-top: 1px solid #ddd;
	border-bottom: none;
}
#footer .accordion .tab {
	border: none;
	border-bottom: 1px solid;
	background: transparent;
}
#footer .accordion .tab:nth-last-child(2) {
	border-bottom: none;
}
#footer .accordion .tab.current {
	border-bottom: none;
	background-color: rgba(255, 255, 255, 0.1);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19FFFFFF');
}
#footer .accordion .pane:last-child {
	border-top: none;
}
#footer .accordion, #footer .accordion .tab, #footer .accordion .pane {
	border-color: #999;
	border-color: rgba(255, 255, 255, 0.15);
}
/* Toggle
---------------------------------------------------------- */
.toggle {
	position: relative;
	margin-bottom: 10px;
}
.toggle_title {
	margin: 0;
	padding: 5px 10px 5px 45px;
	background: url("../images/toggle_buttons.png") no-repeat scroll -30px 3px transparent;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
}
.toggle_active .toggle_title {
	background-position: 0 -27px;
}
.toggle_content {
	display: none;
	margin-top: 5px;
	margin-left: 5px;
	padding: 10px;
}
/* ======================================================= */
/*                      Boxes Styles                       */
/* ======================================================= */
/* Messages
---------------------------------------------------------- */
.info, .error, .notice, .success {
	margin-bottom: 20px;
	border: 1px solid #bbb;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.message_box_content h3 {
	margin-bottom: 0;
}
.message_box_content {
	padding: 10px;
	border: 1px solid #fff;
}
.info {
	border-color: #aacee6;
	background: #d7e7f5;
	color: #5e6984;
}
.error {
	border-color: #fdced0;
	background: #fde9ea;
	color: #a14a40;
}
.notice {
	border-color: #ffdb4f;
	background: #fff9cc;
	color: #736b4c;
}
.success {
	border-color: #bfe098;
	background: #e2f2ce;
	color: #466840;
}
.info a {
	color: #5e6984 !important;
}
.error a {
	color: #a14a40 !important;
}
.notice a {
	color: #736b4c !important;
}
.success a {
	color: #466840 !important;
}
.error_msg {
	margin-top: -20px;
	margin-bottom: 20px;
	border: 1px solid #fcbec0;
	border-top: 0 none;
	background: none repeat scroll 0 0 #fff3f3;
	color: #684c4c;
}
.error_msg ul, .error_msg ol {
	margin-bottom: 0;
}
/* Framed box
---------------------------------------------------------- */
.framed_box {
	margin-bottom: 20px;
	border: 1px solid #bbb;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.rounded, .rounded .framed_box_content {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.framed_box.center {
	text-align: center;
}
.framed_box_content {
	padding: 20px;
	padding-bottom: 0;
	border: 1px solid #fff;
	background-color: #f0f0f0;
}
/* Note box
---------------------------------------------------------- */
.note {
	margin-bottom: 20px;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-radius: 1px;
	background: -moz-linear-gradient( center top, rgba(255, 255, 0, .1) 0%, rgba(238, 238, 0, .08) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(238, 238, 0, .1)), to(rgba(255, 255, 0, .08)) );
	background-color: #fefdf0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#15FFFF00', EndColorStr='#19EEEE00')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#15FFFF00', EndColorStr='#19EEEE00');
}
.note_title{
	margin: 0;
	padding: 15px 20px 5px 16px;
}
.note.alignleft{
	margin: 2px 16px 16px 2px !important;
}
.note.alignright{
	margin: 2px 2px 16px 16px !important;
}
.note_content {
	padding: 0 15px 20px;
}
/* ======================================================= */
/*                     Buttons Styles                      */
/* ======================================================= */
.button, .button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button {
	position: relative;
	overflow: visible;  /* removes extra side padding in IE */
	outline: none;
	border: 1px solid #999;  /* IE */
	border: rgba(0, 0, 0, 0.2) 1px solid;  /* Saf4+, Chrome, FF3.6 */
	border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
	background: -moz-linear-gradient( center top, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(0, 0, 0, .1)), to(rgba(255, 255, 255, .1)) );
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	white-space: normal;
	line-height: 1em;
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
button::-moz-focus-inner {
	border: none;
}
button.button {
	margin: 0;
	padding: 0;
}
a.button, a.button:hover {
	text-decoration: none;
}
.button.full, .button.full span {
	display: block;
}
.button:hover, .button.hover {
	background: -moz-linear-gradient( center top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .2)) );
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');
}
.button:active, .button.active {
	top: 1px;
	background: -moz-linear-gradient( center top, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, .1) 100% );
	background: -webkit-gradient( linear, center bottom, center top, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .1)) );
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#19000000', EndColorStr='#19FFFFFF');
}
.button span {
	position: relative;
	padding: .6em 1.3em;
	border-top: rgba(255, 255, 255, 0.2) 1px solid;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	white-space: normal;
	line-height: 1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button.button span {
		margin-top: -1px;
		margin-right: -2px;
		margin-left: -2px;
	}	
}
.button.small span {
	font-size: 12px;
}
.button.medium span {
	font-size: 14px;
}
.button.large span {
	font-size: 18px;
}
/* Button Color Scheme
---------------------------------------------------------- */
.button.black {
	background-color: #333333;
}
.button.gray {
	background-color: #666666;
}
.button.white {
	background-color: #ffffff;
}
.button.white span{
	color: #666666;
}
.button.red {
	background-color: #e62727;
}
.button.orange {
	background-color: #ff5c00;
}
.button.magenta {
	background-color: #a9014b;
}
.button.yellow {
	background-color: #ffb515;
}
.button.blue {
	background-color: #00adee;
}
.button.pink {
	background-color: #e22092;
}
.button.green {
	background-color: #91bd09;
}
.button.rosy {
	background-color: #f16c7c;
}
/* ======================================================= */
/*                        ColorBox                         */
/* ======================================================= */
/*
	ColorBox Core Style
	The following rules are the styles that are consistant between themes.
	Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{ display:block;float:left; margin:auto; max-width:none; border:0;}
.cboxIframe{ display:block;width:100%; height:100%; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{ -webkit-box-sizing:content-box; -moz-box-sizing:content-box;box-sizing:content-box; -moz- -webkit-}

/* 
	ColorBox example user style
	The following rules are ordered and tabbed in a way that represents the
	order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000;}

#colorbox{outline:0;}
	#cboxTopLeft{width:29px; height:29px; background:url("../images/colorbox_corners.png") 0 0 no-repeat;}
	#cboxTopCenter{height:29px; background:url("../images/colorbox_corners.png") 0 -29px repeat-x;}
	#cboxTopRight{width:29px; height:29px; background:url("../images/colorbox_corners.png") -29px 0 no-repeat;}
	#cboxBottomLeft{width:29px; height:70px; background:url("../images/colorbox_corners.png") 0 -58px no-repeat;}
	#cboxBottomCenter{height:70px; background:url("../images/colorbox_corners.png") 0 -128px repeat-x;}
	#cboxBottomRight{width:29px; height:70px; background:url("../images/colorbox_corners.png") -29px -58px no-repeat;}
	#cboxMiddleLeft{width:29px; background:url("../images/colorbox_border.png") 0 0 repeat-y;}
	#cboxMiddleRight{width:29px; background:url("../images/colorbox_border.png") -29px 0 repeat-y;}
	#cboxContent{background:#fff;}
	    #cboxLoadedContent { }
	    #cboxLoadingOverlay{background:url("../images/colorbox_loading_bg.png") center center no-repeat;}
	    #cboxLoadingGraphic{background:url("../images/loading_big.gif") center center no-repeat;}
	    #cboxTitle{position:absolute; bottom:-30px; left:0; width:100%;height:20px; color:#666; text-align:center; font-size:20px;}
	    #cboxCurrent{position:absolute; right:15px; bottom:-33px; color:#999;}
	    	#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { overflow:visible; margin:0; padding:0; width:auto;border:0; background:none; }
		#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
		#cboxPrevious,#cboxNext{position:absolute;top:0;z-index:1000;width:40%; height:100%;background:url("../images/blank.gif") 0 0 repeat;text-indent:-9999px;}
		#cboxPrevious{ left:-1px;}
		#cboxPrevious:hover{background:url("../images/colorbox_previous.png") left center no-repeat;}
		#cboxNext{right:-1px;}
		#cboxNext:hover{background:url("../images/colorbox_next.png") right center no-repeat;}
		#cboxClose{position:absolute; top:-1px; right:5px;z-index:100000; display:block; width:45px; height:26px; background:url("../images/colorbox_close.png") 0 0 no-repeat; text-indent:-9999px;}
		#cboxClose:hover{ }

	    .cboxSlideshow_on #cboxSlideshow{ right:27px;background-position:-125px 0px;}
	    .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
	    .cboxSlideshow_off #cboxSlideshow{ right:27px;background-position:-150px -25px;}
	    .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}

#colorbox.no-title #cboxBottomLeft{width:29px; height:29px; background:url("../images/colorbox_corners.png") 0 -99px no-repeat;}
#colorbox.no-title #cboxBottomCenter{height:29px; background:url("../images/colorbox_corners.png") 0 -169px repeat-x;}
#colorbox.no-title #cboxBottomRight{width:29px; height:29px; background:url("../images/colorbox_corners.png") -29px -99px no-repeat;}
#colorbox.no-title #cboxTitle, #colorbox.no-title #cboxCurrent {
	text-indent: -9999px;
}

#colorbox.withVideo #cboxPrevious,#colorbox.withVideo #cboxNext{
	top:95px;
	width:30px;
	height:200px;
}

/* fixes png-transparency for IE. */
.cboxIE #cboxTopLeft,.cboxIE #cboxTopCenter,.cboxIE #cboxTopRight,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight {
	background:transparent;
}
/* ======================================================= */
/*                        Structure                        */
/* ======================================================= */
/* Main Structure
---------------------------------------------------------- */
body.box-layout .body-warp {
	margin: 0 auto;
	width: 1000px;
}
#header,#feature,#page,#footer {
	min-width: 980px;
}
#page {
	position: relative;
	background: url("../images/site_layout_sprites.png") repeat-x scroll 0 -159px transparent;
}
#main, #sidebar {
	position: relative;
}
* html #page, * html #sidebar {
	display: inline;
}
.inner {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 100%;
}
#page .inner {
	padding: 40px 0 0;
}
#page_bottom {
	height: 12px;
	background: url("../images/site_layout_sprites.png") repeat-x scroll 0 -20px transparent;
}
#footer {
	width: 100%;
}
/* Right Sidebar
---------------------------------------------------------- */
.right_sidebar #main {
	float: left;
	width: 630px;
}
.right_sidebar #main .content {
	overflow: hidden;
	width: 630px;
}
.right_sidebar #sidebar {
	float: right;
	margin: 0 0 .5em 30px;
	width: 300px;
}
.right_sidebar #sidebar_content {
	overflow: hidden;
	padding-top: 50px;
	padding-left: 25px;
	min-height: 100px;
	background: url("../images/sidebar_sprites.png") no-repeat scroll left -50px transparent;
}
.right_sidebar #sidebar_content.lessgap {
	padding-top: 22px;
}
.right_sidebar #sidebar_bottom {
	clear: both;
	height: 50px;
	background: url("../images/sidebar_sprites.png") no-repeat scroll left 0 transparent;
}
/* Left Sidebar
---------------------------------------------------------- */
.left_sidebar #main {
	float: right;
	width: 630px;
}
.left_sidebar #main .content {
	overflow: hidden;
	width: 630px;
}
.left_sidebar #sidebar {
	float: left;
	margin: 0 30px .5em 0;
	width: 300px;
}
.left_sidebar #sidebar_content {
	overflow: hidden;
	padding-top: 50px;
	padding-right: 25px;
	min-height: 100px;
	background: url("../images/left_sidebar_sprites.png") no-repeat scroll right -50px transparent;
}
.left_sidebar #sidebar_content.lessgap {
	padding-top: 22px;
}
.left_sidebar #sidebar_bottom {
	clear: both;
	height: 50px;
	background: url("../images/left_sidebar_sprites.png") no-repeat scroll right 0 transparent;
}
.home #sidebar_content {
	padding-top: 30px;
}
/* ======================================================= */
/*                         Header                          */
/* ======================================================= */
#header {
	position: relative;
	z-index: 1050;
	width: 100%;
}

#top_area {
	position: absolute;
	top: 10px;
	right: 0;
}
/* Logo & Sitename
---------------------------------------------------------- */
#logo, #logo_text {
	position: absolute;
	left: 0px;
}
#site_name {
	display: block;
	font-size: 40px;
	line-height: 40px;
}
#site_description {
	font-size: 11px;
	line-height: 11px;
}
/* WPML
---------------------------------------------------------- */
#language_flags {
	position: absolute;
	top: 10px;
	right: 0;
}
#language_flags ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#language_flags ul li {
	float: left;
	overflow: hidden;
	margin-left: 8px;
}
#language_flags ul li img {
	background: #fff;
	opacity: 0.7;
	-moz-opacity: 0.7;
}
#language_flags ul li img:hover {
	opacity: 1;
	-moz-opacity: 1;
}
/* qTranslate 
---------------------------------------------------------- */
#top_area .widget_qtranslate {
	margin-top: 5px;
}
.widget_qtranslate ul.qtrans_language_chooser {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget_qtranslate ul.qtrans_language_chooser li {
	float: left;
	overflow: hidden;
	margin-left: 8px;
}
.widget_qtranslate ul.qtrans_language_chooser li img {
	background: #fff;
	opacity: 0.7;
	-moz-opacity: 0.7;
}
.widget_qtranslate ul.qtrans_language_chooser li img:hover {
	opacity: 1;
	-moz-opacity: 1;
}
/* ======================================================= */
/*                       Navigation                        */
/* ======================================================= */
#navigation {
	position: absolute;
	right: -15px;
	bottom: 0;
	height: 105px;
}
#menu-navigation a {
	font-family: 'Raleway', sans-serif;
}

#navigation .menu > li > a {
	margin-top: 45px; 
}

#navigation .menu > li > a, #navigation .menu > li > a:visited {
	font-size: 11px !important;
	}

li.current_page_item {
	border-radius: 0px !important;
	background-color: #f6f6f6 !important;
	border-bottom: 4px solid #ea1c90;
	height: 101px !important;
	text-transform: uppercase;
}

li.page-slug-portfolio.current_page_item a {
	color: #2dade4 !important;
}

li.page-slug-process.current_page_item a {
	color: #aacd30 !important;
}

li.page-slug-pricing.current_page_item a {
	color: #8d3092 !important;
}

li.page-slug-contact.current_page_item a {
	color: #2489cc !important;
}

li.current_page_item a {
	color: #ea1c90 !important;
}

li.page-slug-pricing.current_page_item {
	background-color: #f6f6f6 !important;
	border-bottom: 4px solid #8d3092;
	text-transform: uppercase;
}

li.page-slug-portfolio.current_page_item {
	background-color: #f6f6f6 !important;
	border-bottom: 4px solid #2dade4;
	text-transform: uppercase;
}

li.page-slug-process.current_page_item {
	background-color: #f6f6f6 !important;
	border-bottom: 4px solid #aacd30;
	text-transform: uppercase;
}

li.page-slug-contact.current_page_item {
	background-color: #f6f6f6 !important;
	border-bottom: 4px solid #2388cc;
	text-transform: uppercase;
}

li.page_item.page-slug-portfolio a, li.page_item.page-slug-contact a, li.page_item.page-slug-process a, li.page_item.page-slug-pricing a, li a {
	text-transform: uppercase;
}

.jqueryslidemenu {
	position: relative;
	z-index: 400;
}
.jqueryslidemenu ul {
	z-index: 400;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.jqueryslidemenu > ul {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
/*Top level list items*/
.jqueryslidemenu ul li {
	position: relative;
	display: inline;
	float: left;
	margin: 0;
}
/*Top level menu link items style*/
.jqueryslidemenu ul li a {
	display: block;
	overflow: hidden;
	padding: 0 15px;
	height: 60px;
	background: url("../images/blank.gif") 0 0 repeat;
	text-decoration: none;
	line-height: 56px;
}
* html .jqueryslidemenu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
/* 1st sub level menu
---------------------------------------------------------- */
.jqueryslidemenu ul li ul {
	position: absolute;
	left: 100%;
	z-index: 401;
	display: none;
	visibility: hidden;
	padding: 3px 0;
	border: 1px solid #bbbbbb;
	border-top: 0;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li {
	display: list-item;
	float: none;
	margin: 0;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul {
	top: 0;
	z-index: 402;
	padding: 2px 0;
	border: 1px solid #ccc;
}
/* Sub level menu links style */
.jqueryslidemenu ul li ul li a {
	margin: 0;
	padding: 5px 15px 7px;
	width: 200px;
}
.jqueryslidemenu ul ul li a, .jqueryslidemenu ul ul li a:link, .jqueryslidemenu ul ul li a:visited {
	height: 100%;
	line-height: 20px;
}
.jqueryslidemenu ul li ul li a:hover, .jqueryslidemenu ul ul li a:hover {
	padding: 5px 15px 7px;
	border-right: 0;
	border-left: 0;
}
.jqueryslidemenu ul ul ul {
	margin-top: -5px;
}
.jqueryslidemenu ul li ul {
	-webkit-box-shadow: 1px 3px 3px #333;
	-moz-box-shadow: 1px 3px 3px #333;
	box-shadow: 1px 3px 3px #333;
}
/* ======================================================= */
/*                         Feature                         */
/* ======================================================= */
#feature {
	background: url("../images/bg.jpg") no-repeat scroll 50% 0 transparent;
}
#feature .inner {
	padding-top: 15px;
	padding-bottom: 15px;
}
#feature h1 {
	margin-bottom: 0;
	padding: 5px 0;
	font-size: 3.5em;
}
#introduce {
	overflow: hidden;
	padding: 5px 0;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 1.8em;
	line-height: 1.3em;
}
#feature .top_shadow {
	overflow: hidden;
	height: 10px;
	background: url("../images/site_layout_sprites.png") repeat-x scroll 0 0 transparent;
	font-size: 0;
	line-height: 10px;
}
#feature .bottom_shadow {
	height: 9px;
	background: url("../images/site_layout_sprites.png") repeat-x scroll 0 -10px transparent;
	font-size: 0;
	line-height: 9px;
}
/* ======================================================= */
/*                         Content                         */
/* ======================================================= */
/* Breadcrumbs
---------------------------------------------------------- */
#breadcrumbs {
	position: relative;
	margin: -20px 0 20px;
	padding: 0 0 8px;
	font-size: 11px;
}
.page-link {
	clear: both;
	margin: 0 0 1em 0;
	font-weight: bold;
}
/* Scroll to Top button
---------------------------------------------------------- */
a#back-to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: none;
	overflow: hidden;
	width: 27px;
	height: 27px;
	background: url("../images/scroll_top_button.png") left top no-repeat;
	text-decoration: none;
	text-indent: -99999px;
}
a:hover#back-to-top {
	background-position: left bottom;
}

#homepage_content_bar {
	width: 2000px !important;
	background-color: #f5f5f5;
	height: 92px;
	border-bottom: 2px solid #e2e2e2;
	margin: -29px 0 36px -550px;
	padding: 19px 0 0 0;
}

#homepage_content_bar p {
	text-align: center; 
	color: #555555;
}

#homepage_column1 {
	float: left;
	width: 30%;
	padding: 0 15px 0 15px;
}

#hompage_column1 p {
	font-size: 19px;
}

#homepage_column1_header {
	font-size: 18px !important;
	font-weight: 300; 
}

#homepage_column2 {
	float: left;
	width: 30%;
	padding: 0 15px 0 15px;
}

#hompage_column2 p {
	font-size: 19px;
}

#homepage_column2_header {
	font-size: 18px !important;
	font-weight: 300; 
}

#homepage_column3 {
	float: left;
	width: 30%;
	padding: 0 15px 0 15px;
}

#hompage_column3 p {
	font-size: 19px;
}

#homepage_column3_header {
	font-size: 18px !important;
	font-weight: 300; 
}

#homepage_content_p {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#homepage_content_p p {
	margin-left: 58px;
	font-size: 21px;
	color: gray;
	font-weight: 300;
	line-height: 1.5em;
}

.home_icons {
	float: left;
}

/* ======================================================= */
/*                         Footer                          */
/* ======================================================= */
/* Footer Body
---------------------------------------------------------- */
#footer {
	background-color: #01111d !important;
}
#footer .inner {
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 40px;
}
#footer_shadow {
	overflow: hidden;
	height: 10px;
	background: url("../images/site_layout_sprites.png") repeat-x scroll 0 -19px transparent;
	font-size: 0;
	line-height: 10px;
}

/* Sub Footer
---------------------------------------------------------- */
#footer_bottom {
	background: url("../images/site_layout_sprites.png") repeat-x scroll 50% -58px transparent;
	letter-spacing: 1px;
}
#footer_bottom .inner {
	padding-top: 12px;
	padding-bottom: 12px;
}
#copyright {
	float: left;
	min-height: 1.5em;
	font-size: 13px;
	line-height: 1.5em;
	font-weight: lighter;
	background: transparent;
}
#footer_menu {
	float: right;
	text-align: right;
}

#footer h3.widgettitle {
	color: #ffffff;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: lighter;
}

#footer_menu a {
	padding: 0 5px;
}
#footer_menu li, #footer_menu ul {
	display: inline;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}
#footer_right_area {
	position: absolute;
	right: 0;
}
/* ======================================================= */
/* Sticky Elements */
/* ======================================================= */
/* Sticky Header
---------------------------------------------------------- */
.box-layout #header-sticker-wrapper.sticker-sticky #header {
	padding-right: 10px;
	padding-left: 10px;
	width: auto;
}
#header-sticker-wrapper.sticker-sticky #header {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* Saf3.0+, Chrome */
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* FF3.5+ */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9.0 */
	height: 88px !important;
}
.admin-bar #header-sticker-wrapper.sticker-sticky #header {
	margin-top: 28px;
}
/* Sticky Footer
---------------------------------------------------------- */
.box-layout #footer-sticker-wrapper.sticker-sticky #footer {
	padding-right: 10px;
	padding-left: 10px;
	width: auto;
}
.box-layout #footer {
	width: auto;
}
/* ======================================================= */
/*                    Home Page Sliders                    */
/* ======================================================= */

/* wp Anything Slider
----------------------------------------------------------- */
.anythingSlider.anythingSlider-default.activeSlider.anythingSlider {
	width: 800px !important;
	height: 415px !important;
}

#anything {
	padding-top: 0px !important;
}

#feature.anything {
	height: 490px !important;
}

#anything_shadow {
	display: none !important;
}

#anything_slider_wrap {
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	height: 415px !important;
	width: 800px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: -17px;
}

#anything_slider_loading {
	display: none;
}


/* nivo Slider
---------------------------------------------------------- */
#feature.nivo .inner {
	padding:3px 0 0;
}
#nivo_slider_wrap {
	position:relative;
	padding-bottom:40px;
	background:url("../images/slider_shadow.png") no-repeat scroll center bottom transparent;
}
#nivo_slider_loading {
	position:absolute;
	top:0px;
	z-index:103;
	width:960px;
	background:url("../images/loading_big.gif") #fff no-repeat 50% 50%;
}
#nivo_slider {
	position:relative;
}

#feature.nivo {
	height: 490px !important;
}

#nivo_slider.nivoSlider {
	border-top: 32px solid #010001;
	border-bottom: 32px solid #010001;
}

.nivo_control_bg {
	display: none !important;
}

.nivo-control.active {
	display: none;
}

#nivo_slider_frame {
height: 390px !important;
}

#nivo_slider img {
	display:none;
}
#nivo_slider_frame_top {
	position:absolute;
	top:0px;
	z-index: 100;
	width:100%;
	height:1px;
	background:url("../images/nivo_slider_sprites.png") no-repeat scroll 0 -88px transparent;
}
#nivo_slider_frame {
	position:absolute;
	z-index: 100;
	width:100%;
	background:url("../images/nivo_slider_sprites.png") no-repeat scroll 0 bottom transparent;
}
.nivoslider_wrap {
	overflow:hidden;
	position: relative;
	background:url("../images/loading_big.gif") #fff no-repeat 50% 50%;
}
.nivoslider_wrap img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoslider_wrap a {
	display:block;
	border:0 none;
}


#nivo_slider_wrap, #nivo_slider_loading, #nivo_slider {
	height: 390px !important;
}

/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	overflow: hidden;
	width:100%;
	height:auto;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	position: relative !important;
	display: block !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	z-index:60;
	display:none;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	border:0;
}
/* The slices in the Slider */
.nivo-slice {
	position:absolute;
	top:0;
	z-index:50;
	display:block;
	height:100%;
	pointer-events: none;
}
.nivo-box {
	position:absolute;
	z-index:50;
	display:block;
	overflow:hidden;
	pointer-events: none;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:100;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding:10px 15px;
	width:100%;
	height: 40px;
	background:#000;
	color:#fff;
	text-overflow:ellipsis;
	white-space: nowrap;
	word-break:keep-all;
	font-size:18px;
	line-height:20px;
	opacity:0.5;

	pointer-events: none;
	-ms-box-sizing: border-box;
}
.nivo-html-caption {
	display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:101;
	width:40px;
	height:40px;
	text-indent:-10000px;
	cursor:pointer;
}
.nivo-prevNav {
	left:20px;
	background:url("../images/nivo_slider_sprites.png") no-repeat scroll -16px 0 transparent;
}
.nivo-nextNav {
	right:20px;
	background:url("../images/nivo_slider_sprites.png") no-repeat scroll -56px 0 transparent;
}
/* Control nav styles (e.g. 1,2,3...) */
#feature .nivo-controlNav {
	bottom:40px;
}
.nivo-controlNav {
	position:absolute;
	right:15px;
	bottom:0;
	z-index:102;
	padding:12px 0px;
}
.nivo-controlNav a {
	z-index:102;
	float:left;
	overflow:hidden;
	margin:0 2px;
	width:16px;
	height:16px;
	background:url("../images/nivo_slider_sprites.png") no-repeat scroll 0 0 transparent;
	text-decoration:none;
	text-indent:-10000px;
	cursor:pointer;
}
.nivo-controlNav a.active {
	background-position: 0 -32px;
}
.nivo-controlNav a:hover {
	background-position: 0 -16px;
}
.nivo_control_bg {
	position:absolute;
	bottom:0px;
	z-index:101;
	display:none;
	width:100%;
	height:40px;
	background:#000;
	opacity:0.5;
	pointer-events: none;
}
/* kwicks Slider
---------------------------------------------------------- */
#kwicks {
	clear:both;
	overflow:hidden;
	background-color:#ccc;
}
#kwicks li {
	margin:0;
}
.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.kwicks-number-2 li {
	width:480px;
}
.kwicks-number-3 li {
	width:320px;
}
.kwicks-number-4 li {
	width:240px;
}
.kwicks-number-5 li {
	width:192px;
}
.kwicks-number-6 li {
	width:160px;
}
.kwicks-number-7 li {
	width:137px;
}
.kwicks-number-7 li:last-child {
	width:138px;
}
.kwicks-number-8 li {
	width:120px;
}
#kwicks li {
	position:absolute;
	float:left;
	overflow:hidden;
}
#kwicks li a {
	position:absolute;
	top:0;
	overflow:hidden;
	width:100%;
}
#kwicks li .kwick_title {
	position:absolute;
	bottom:0px;
	display:none;
	overflow:hidden;
	padding:10px;
	padding:10px;
	min-width:220px;
	width:100%;
	background-color: #000;
	color:#fff;
}
#kwicks li.is-linkable {
	cursor:pointer;
}
#kwicks li .kwick_detail {
	position:absolute;
	bottom:0px;
	z-index:100;
	display:none;
	padding:10px;
	width:100%;
	background-color: #000;
	color:#fff;
}
#kwicks li .kwick_detail h3 {
	margin-bottom:0;
	color:#fff;
}
.kwick_desc {
	margin-bottom:10px;
}
.kwick_shadow {
	position:absolute;
	z-index: 100;
	width:100%;
	height:100%;
	background:url("../images/kwick_shadow.png") repeat-y scroll right 0 transparent;
}
.kwick_frame_top {
	position:absolute;
	top:0px;
	z-index: 100;
	width:100%;
	height:1px;
	background:url("../images/kwick_slider_frame.png") no-repeat scroll 0 0 transparent;
}
.kwick_frame {
	position:absolute;
	top:1px;
	z-index: 100;
	width:100%;
	background:url("../images/kwick_slider_frame.png") no-repeat scroll 0 bottom transparent;
}
.kwick_last_frame {
	position:absolute;
	top:0px;
	right:0px;
	z-index: 100;
	width:1px;
	height:100%;
	background:url("../images/kwick_slider_frame.png") no-repeat scroll right 0 transparent;
}
#feature.kwicks_slider .inner{
	padding:25px 0 0 0;
}
#kwicks_shadow {
	height:40px;
	background:url("../images/slider_shadow.png") no-repeat scroll center bottom transparent;
}
/* anything Slider
---------------------------------------------------------- */
#feature.anything .inner {
	padding:30px 0 0;
}
#anything_slider_wrap {
	position:relative;
	overflow:hidden;
	width: 960px;
}
#anything_slider_loading {
	position:absolute;
	top:0px;
	z-index:103;
	width:960px;
	background:url("../images/loading_big.gif") #fff no-repeat 50% 50%;
}
#anything_shadow {
	height:40px;
	background:url("../images/slider_shadow.png") no-repeat scroll center bottom transparent;
}
#anything_slider {
	display:none;
	width: 960px;
}
/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider {
	margin: 0 auto;
	width: 960px;
}
div.anythingSlider .anythingWindow {
	background-color:#fff;
}
/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
div.anythingSlider {
	position: relative;
}
/* anythingSlider base UL */
ul.anythingBase {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	list-style: none;
}
ul.anythingBase li.panel {
	position:relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
/* Navigation Arrows */
div.anythingSlider .arrow {
	position: absolute;
	top:45%;
	z-index:101;
	display: block;
}
div.anythingSlider .arrow a {
	z-index:101;
	display: block;
	width:40px;
	height:40px;
	outline: 0;
	text-indent:-10000px;
	cursor:pointer;
}
/* hide text, target the span so IE7 doesn't text-indent the link */
div.anythingSlider .arrow a span { display: block; text-indent: -9999px; }

div.anythingSlider .forward {right:0; margin-right:20px; }
div.anythingSlider .back {left:0; margin-left:20px; }
div.anythingSlider .forward a { background:url("../images/anything_slider_sprites.png") no-repeat scroll -56px 0 transparent; }
div.anythingSlider .back a { background:url("../images/anything_slider_sprites.png") no-repeat scroll -16px 0 transparent; }
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { }
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { }
div.anythingSlider .back.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; */ /* filter: alpha(opacity=50); */
div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; */ /* filter: alpha(opacity=50); */
/* Navigation Links */
div.anythingSlider .anythingControls {padding-top:14px; outline: 0;text-align:center; }
div.anythingSlider .thumbNav { position:relative;float: none; margin: 0; }
div.anythingSlider .thumbNav li { display: inline; margin: 0;}
div.anythingSlider .thumbNav a {
	display:inline-block;
	overflow:hidden;
	margin:0 2px;
	width:16px;
	height:16px;
	outline: 0;
	background:url("../images/anything_slider_sprites.png") no-repeat scroll 0 0 transparent;
	text-decoration:none;
	text-indent:-10000px;
	cursor:pointer;
}
div.anythingSlider .thumbNav a:hover {
	background-position: 0 -16px;
}
div.anythingSlider .thumbNav a.cur {
	background-position: 0 -32px;
}
div.anythingSlider .start-stop {
	display:none;
}
div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	transition-duration: 0;
}
/* Captions */
.anything_caption {
	position:absolute;
	z-index:100;
	padding:20px 20px 10px;
	background-color:#000;
	opacity:0.8;
}
.anything_caption h3, .anything_caption p {
	margin-bottom:10px;
	color:#fff !important;
}
.anything_caption h3 {
	line-height:1.2em;
}
.caption_top, .caption_bottom {
	width:920px;
}
.caption_top {
	top:25px;
}
.caption_bottom {
	bottom:25px;
}
.caption_left, .caption_right {
	width:220px;
}
.caption_left {
	left:55px;
}
.caption_right {
	right:55px;
}
/* Sidebar */
.anything_sidebar_content {
	position: absolute;
	top:0px;
	padding:30px;
	width:240px; 
}
.anything_sidebar_image {
	position: absolute;
	top:0px;
	width:660px;
}
.anything_sidebar_left .anything_sidebar_content{
	left: 0px;
}
.anything_sidebar_left .anything_sidebar_image{
	right: 0px;
}
.anything_sidebar_right .anything_sidebar_content{
	right: 0px;
}
.anything_sidebar_right .anything_sidebar_image{
	left: 0px;
}
/* ======================================================= */
/*                    Portfolio Styles                     */
/* ======================================================= */
.portfolio_container {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	word-spacing: -4px;  /* remvoe the gap */
	letter-spacing: -4px;  /* remvoe the gap */
}
.portfolio_container .portfolio_item {
	position: relative;
	display: -moz-inline-box;  /* mozilla only */
	display: inline-block;  /* for browsers that support display: inline-block*/
	overflow: hidden;
	margin: 10px 0 50px 0;
	padding: 0;
	vertical-align: top;
	word-spacing: normal;  /* remvoe the gap */
	letter-spacing: normal;  /* remvoe the gap */
}
.portfolio_title {
	line-height: 1em;
}
.portfolio_desc {
	margin-top: .8em;
}
.portfolio_more_button {
	margin-top: .8em;
}
/* Portfolio Sortable
---------------------------------------------------------- */
.portfolios.sortable header {
	clear: both;
	overflow: hidden;
	font-size: 1.2em;
	line-height: 1.8em;
}
.portfolios.sortable header span {
	display: block;
	float: left;
	margin-right: 5px;
}
#page .portfolios.sortable header a {
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 14px;
	background-color: #eee;
	color: #666;
}

/* Portfolio One Column
---------------------------------------------------------- */
.portfolios .portfolio_one_column {
	clear: left;
}
.portfolios .portfolio_one_column li {
	display: block;
}
.portfolio_one_column .portfolio_image {
	float: left;
	width: 602px;
}
.portfolio_one_column .portfolio_image .image_frame{
	width: 600px;
}
.portfolio_one_column .portfolio_image .image_shadow{
	width: 600px;
}
.portfolio_one_column .portfolio_details {
	float: left;
	padding-left: 28px;
	width: 330px;
}
.portfolio_one_column .portfolio_title {
	margin-top: .7em;
}
/* sidebar */
.portfolio_one_column.with_sidebar .portfolio_image {
	width: 402px;
}
.portfolio_one_column.with_sidebar .portfolio_image .image_frame {
	width: 400px;
}
.portfolio_one_column.with_sidebar .portfolio_image .image_shadow {
	width: 400px;
}
.portfolio_one_column.with_sidebar .portfolio_details {
	padding-left: 28px;
	width: 200px;
}
/* Portfolio Two Columns
---------------------------------------------------------- */
.portfolios .portfolio_two_columns {
	margin-right: -56px;
}
.portfolio_two_columns .portfolio_item {
	margin-right: 56px;
	width: 452px;
}
.portfolio_two_columns .portfolio_image .image_frame {
	width: 450px;
}
.portfolio_two_columns .portfolio_image .image_shadow {
	width: 450px;
}
/* sidebar */
.portfolios .portfolio_two_columns.with_sidebar {
	margin-right: -40px;
}
.portfolio_two_columns.with_sidebar .portfolio_item {
	margin-right: 40px;
	width: 295px;
}
.portfolio_two_columns.with_sidebar .portfolio_image .image_frame {
	width:293px;
}
.portfolio_two_columns.with_sidebar .portfolio_image .image_shadow {
	width:293px;
}
/* Portfolio Three Columns
---------------------------------------------------------- */
.portfolios .portfolio_three_columns {
	margin-right: -39px;
}
.portfolio_three_columns .portfolio_item {
	margin-right: 39px;
	width: 294px;
}
.portfolio_three_columns .portfolio_image .image_frame {
	width: 292px;
}
.portfolio_three_columns .portfolio_image .image_shadow {
	width: 292px;
}
/* sidebar */
.portfolios .portfolio_three_columns.with_sidebar {
	margin-right: -30px;
}
.portfolio_three_columns.with_sidebar .portfolio_item {
	margin-right: 30px;
	width: 190px;
}
.portfolio_three_columns.with_sidebar .portfolio_image .image_frame {
	width: 188px;
}
.portfolio_three_columns.with_sidebar .portfolio_image .image_shadow {
	width: 188px;
}
/* Portfolio Four Columns
---------------------------------------------------------- */
.portfolios .portfolio_four_columns {
	margin-right: -28px;
}
.portfolio_four_columns .portfolio_item {
	margin-right: 28px;
	width: 219px;
}
.portfolio_four_columns .portfolio_image .image_frame {
	width: 217px;
}
.portfolio_four_columns .portfolio_image .image_shadow {
	width: 217px;
}
/* sidebar */
.portfolios .portfolio_four_columns.with_sidebar {
	margin-right: -26px;
}
.portfolio_four_columns.with_sidebar .portfolio_item {
	margin-right: 26px;
	width: 138px;
}
.portfolio_four_columns.with_sidebar .portfolio_image .image_frame {
	width: 136px;
}
.portfolio_four_columns.with_sidebar .portfolio_image .image_shadow {
	width: 136px;
}
/* Portfolio Five Columns
---------------------------------------------------------- */
.portfolios .portfolio_five_columns {
	margin-right: -25px;
}
.portfolio_five_columns .portfolio_item {
	margin-right: 25px;
	width: 172px;
}
.portfolio_five_columns .portfolio_image .image_frame {
	width: 170px;
}
.portfolio_five_columns .portfolio_image .image_shadow {
	width: 170px;
}
/* sidebar */
.portfolios .portfolio_five_columns.with_sidebar {
	margin-right: -20px;
}
.portfolio_five_columns.with_sidebar .portfolio_item {
	margin-right: 20px;
	width: 110px;
}
.portfolio_five_columns.with_sidebar .portfolio_image .image_frame {
	width: 108px;
}
.portfolio_five_columns.with_sidebar .portfolio_image .image_shadow {
	width: 108px;
}
/* Portfolio Six Columns
---------------------------------------------------------- */
.portfolios .portfolio_six_columns {
	margin-right: -24px;
}
.portfolio_six_columns .portfolio_item {
	margin-right: 24px;
	width: 140px;
}
.portfolio_six_columns .portfolio_image .image_frame {
	width: 138px;
}
.portfolio_six_columns .portfolio_image .image_shadow {
	width: 138px;
}
/* sidebar */
.portfolios .portfolio_six_columns.with_sidebar {
	margin-right: -18px;
}
.portfolio_six_columns.with_sidebar .portfolio_item {
	margin-right: 18px;
	width: 90px;
}
.portfolio_six_columns.with_sidebar .portfolio_image .image_frame {
	width: 88px;
}
.portfolio_six_columns.with_sidebar .portfolio_image .image_shadow {
	width: 88px;
}
/* Portfolio Seven Columns
---------------------------------------------------------- */
.portfolios .portfolio_seven_columns {
	margin-right: -20px;
}
.portfolio_seven_columns .portfolio_item {
	margin-right: 20px;
	width: 120px;
}
.portfolio_seven_columns .portfolio_image .image_frame {
	width: 118px;
}
.portfolio_seven_columns .portfolio_image .image_shadow {
	width: 118px;
}
/* sidebar */
.portfolios .portfolio_seven_columns.with_sidebar {
	margin-right: -21px;
}
.portfolio_seven_columns.with_sidebar .portfolio_item {
	margin-right: 21px;
	width: 72px;
}
.portfolio_seven_columns.with_sidebar .portfolio_image .image_frame {
	width: 70px;
}
.portfolio_seven_columns.with_sidebar .portfolio_image .image_shadow {
	width: 70px;
}
/* Portfolio Eight Columns
---------------------------------------------------------- */
.portfolios .portfolio_eight_columns {
	margin-right: -24px;
}
.portfolio_eight_columns .portfolio_item {
	margin-right: 24px;
	width: 99px;
}
.portfolio_eight_columns .portfolio_image .image_frame {
	width: 97px;
}
.portfolio_eight_columns .portfolio_image .image_shadow {
	width: 97px;
}
/* sidebar */
.portfolios .portfolio_eight_columns.with_sidebar {
	margin-right: -18px;
}
.portfolio_eight_columns.with_sidebar .portfolio_item {
	margin-right: 18px;
	width: 63px;
}
.portfolio_eight_columns.with_sidebar .portfolio_image .image_frame {
	width: 61px;
}
.portfolio_eight_columns.with_sidebar .portfolio_image .image_shadow {
	width: 61px;
}
/* ======================================================= */
/*                       Blog Styles                       */
/* ======================================================= */
/* Blog Index & main_wrap Post Body
---------------------------------------------------------- */
.entry {
	clear: both;
	overflow: hidden;
}
.entry_frame {
	padding: 15px 15px 0 15px;
	border: 1px solid #eeeeee;
}
.entry .entry_title {
	margin-bottom: 10px;
}
.entry .entry_title a {
	color: #333;
}
.entry_image {
	margin: 0;
}
.entry_image .image_shadow {
	width: 100%;
}
.entry_right .entry_image {
	float: right;
	margin-top: 5px;
	margin-left: 20px;
}
.entry_left .entry_image {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
.entry_left .entry_info, .entry_right .entry_info {
	overflow: hidden;
}
.entry_left .entry_content, .entry_right .entry_content {
	overflow: hidden;
}
.entry .entry_meta {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	line-height: 28px;
}
.entry .entry_meta .separater {
	padding: 0 4px;
}
.entry .entry_meta .comments {
	float: right;
}
.read_more_link {
	position: relative;
}
.read_more_link.button {
	top: 0;
}
.read_more_link.button:active, .read_more_link.button.active {
	top: 1px;
}
.read_more_wrap {
	position: relative;
	top: -5px;
	margin-bottom: 12px;
}
#feature .entry_meta .separater {
	padding: 0 .6em;
}
#feature .entry_meta .comments {
	float: right;
}
#feature a {
	color: #ccc;
}
.entry.content {
	margin-bottom: 40px;
}
.entry.content footer {
	clear: both;
	margin-top: 80px;
	margin-bottom: -20px;
}
.entry_edit {
	clear: both;
}
#author .gravatar {
	float: right;
	margin: 0 0 0 20px;
}
/* WP Pagenavi
---------------------------------------------------------- */
.wp-pagenavi {
	clear: both;
	padding-top: 10px;
	height: 40px;
	text-align: left;
}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi a:active, .wp-pagenavi span.current, .wp-pagenavi span.extend {
	margin-right: 5px;
	padding: 4px 6px;
	color: #666;
	text-shadow: 1px 1px 1px #ddd;
}
.wp-pagenavi span.current {
	color: #333;
	font-size: 16px;
}
.wp-pagenavi a:hover {
	color: #333;
	font-size: 14px;
}
/* About the Author
---------------------------------------------------------- */
#about_the_author {
	margin-bottom: 40px;
}
#about_the_author .author_content {
	padding: 20px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: rgba(0, 0, 0, 0.01);
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#02000000',EndColorStr='#02000000')";
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#02000000',EndColorStr='#02000000');
}
.author_info {
	position: relative;
	overflow: hidden;
	padding-left: 15px;
}
.author_name {
	font-size: 1.2em;
}
.author_desc {
	margin-bottom: 0;
}
/* Popular and Related Posts
---------------------------------------------------------- */
.related_popular_wrap {
	margin-bottom: 40px;
}
.related_popular_wrap .posts_list .thumbnail {
	margin-right: 15px;
}
.related_popular_wrap li {
	margin: 0;
}
/* Entry previous & next navigation
---------------------------------------------------------- */
.entry_navigation {
	clear: both;
	overflow: hidden;
	margin-bottom: 40px;
}
.entry_navigation .nav-previous {
	float: left;
	width: 50%;
}
.entry_navigation .nav-next {
	float: right;
	width: 50%;
	text-align: right;
}
/* Threaded Comments
---------------------------------------------------------- */
#comments ul {
	list-style-type: none;
}
.commentlist {
	margin: 0;
}
.commentlist ul {
	margin-left: 20px;
}
.commentlist li {
	margin: 0;
	border-top: 1px solid #eeeeee;
}
.commentlist li .comment_wrap {
	position: relative;
	overflow: visible;
	padding: 20px 0;
}
.gravatar {
	float: left;
	height: 70px;
	border: 1px solid #eeeeee;
}
.gravatar img {
	padding: 4px;
	width: 60px;
	height: 60px;
	border: 1px solid #ffffff;
	background-color: #f9f9f9;
}
.comment_content {
	position: relative;
	overflow: hidden;
	padding-left: 20px;
	min-height: 80px;
}
li.bypostauthor .gravatar {
	-webkit-box-shadow: 0 0 2px rgba(200, 0, 0, 0.1);  /* Saf3.0+, Chrome */
	-moz-box-shadow: 0 0 2px rgba(200, 0, 0, 0.1);  /* FF3.5+ */
	box-shadow: 0 0 2px rgba(200, 0, 0, 0.1);  /* Opera 10.5, IE 9.0 */
}
.commentlist li ul li {
	margin-left: 20px;
}
.nocomments {
	margin: 0;
	padding: 0;
	text-align: center;
}
.comment_author {
	font-style: normal;
	font-size: 18px;
}
.comment_author span {
	display: none;
}
.comment_time {
	float: right;
}
.comment_text {
	clear: both;
	overflow: hidden;
	padding-top: 5px;
}
.comments_navigation {
	clear: both;
	overflow: hidden;
	margin-top: 20px;
}
.comments_navigation .nav_previous {
	float: left;
}
.comments_navigation .nav_next {
	float: right;
}
#respond {
	margin-top: 20px;
}
#respond #comment {
	width: 98%;
}
#comments label {
	padding-left: 6px;
	opacity: 0.75;
}
.cancel_comment_reply {
	margin-bottom: 6px;
}
/* ======================================================= */
/*                      Widget Styles                      */
/* ======================================================= */
/* General
---------------------------------------------------------- */
.widget {
	margin-bottom: 4em;
}
.widget p {
	margin: 0;
}
.widget ul,
.widget_subnav ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_recent_posts ul,
.widget_popular_posts ul,
.widget_related_posts ul,
.widget_authors ul,
.widget_twitter ul,
.widget_pages ul,
.widget_links ul,
.widget_categories ul,
.widget_archive ul,
.widget_meta ul,
.widget_rss ul {
	margin: 0;
	list-style: none;
}
#sidebar_content .widget:last-child {
	margin-bottom: 20px;
}
.home #sidebar_content .widget:last-child {
	margin-bottom: 0px;
}
.widget_text p {
	margin-bottom: 1em;
}
.textwidget:after {
	content:"";
	display:block;
	clear:both;
}
/* Sidebar General
---------------------------------------------------------- */
.widget_subnav li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_recent_posts li,
.widget_popular_posts li,
.widget_related_posts li,
.widget_authors li,
.widget_twitter li,
.widget_pages li,
.widget_links li,
.widget_categories li,
.widget_archive li,
.widget_meta li,
.widget_rss li,
.flexipages_widget li {
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #f0f0f0;
}
.widget_subnav li a,
.widget_recent_entries li a,
.widget_recent_posts li a,
.widget_popular_posts li a,
.widget_related_posts li a,
.widget_pages li a,
.widget_links li a,
.widget_categories li a,
.widget_archive li a,
.widget_meta li a,
.widget_rss li a,
.flexipages_widget li a {
	margin: 0;
	padding-left: 20px;
	background: url(../images/widget_list_arrows.png) no-repeat scroll -48px 2px transparent;
	line-height: 20px;
}
.widget_nav_menu ul {
	list-style: none;
	margin: 0;
}
.widget_nav_menu li {
	margin: 0;
	padding: 0;
}
.widget_nav_menu li a {
	display: block;
	margin: 0;
	padding: 5px 20px;
	border-bottom: 1px solid #f0f0f0;
	background: url(../images/widget_list_arrows.png) no-repeat scroll -48px 9px transparent;
	line-height: 20px;
}
.widget_nav_menu li ul.sub-menu {
	margin-left: 2em;
}
/* Footer General
---------------------------------------------------------- */
#footer .widget {
	margin-bottom: 3em;
}
#footer h3.widgettitle {
	margin-bottom: .5em;
	font-size: 2em;
}
#footer .widget_subnav li,
#footer .widget_recent_comments li,
#footer .widget_recent_entries li,
#footer .widget_recent_posts li,
#footer .widget_popular_posts li,
#footer .widget_related_posts li,
#footer .widget_authors li,
#footer .widget_twitter li,
#footer .widget_pages li,
#footer .widget_links li,
#footer .widget_categories li,
#footer .widget_archive li,
#footer .widget_meta li,
#footer .widget_rss li{
	margin: 0;
	padding: 5px 0;
	border-bottom: none;
	background: url("../images/footer_list_divider.png") repeat-x scroll 0 bottom transparent;
}
#footer .widget_subnav li a,
#footer .widget_recent_entries li a,
#footer .widget_recent_posts li a,
#footer .widget_popular_posts li a,
#footer .widget_related_posts li a,
#footer .widget_pages li a,
#footer .widget_links li a,
#footer .widget_categories li a,
#footer .widget_archive li a,
#footer .widget_meta li a,
#footer .widget_rss li a {
	padding-left: 15px;
	background: url(../images/footer_list_style.png) no-repeat scroll 0 0 transparent;
	text-decoration: none;
}
#footer .widget_nav_menu li {
	margin: 0;
	padding: 0;
}
#footer .widget_nav_menu li a {
	position: relative;
	padding: 5px 0 5px 15px;
	border: none;
	background: url(../images/footer_list_style.png) no-repeat scroll 0 5px transparent;
	text-decoration: none;
}
#footer .widget_nav_menu li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:1px;
	background: url("../images/footer_list_divider.png") repeat-x scroll 0 bottom transparent;
	content: '';
}
#footer .text_input, #footer .textarea {
	border: 1px solid #999;
	border: rgba(255, 255, 255, 0.15) 1px solid;
	background: -moz-linear-gradient(
	      center top,
	      rgba(255, 255, 255, .03) 0%,
	      rgba(255, 255, 255, .05) 100%
	    );  /* FF3.6 */
	background: -webkit-gradient(
	      linear,
	      center bottom,
	      center top,
	      from(rgba(255, 255, 255, .03)),
	      to(rgba(255, 255, 255, .05))
	    );  /* Saf4+, Chrome */
	-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
	color: #666;
	color: rgba(255, 255, 255, 0.8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#33FFFFFF')";  /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#33FFFFFF');  /* IE6,IE7 */
}
/* Search
---------------------------------------------------------- */
#searchform .text_input {
	padding: 8px;
	width: 160px;
	height: 1em;
	vertical-align: middle;
	line-height: 1em;
}
#footer #searchform .text_input {
	width: 50%;
}
#searchform button {
	margin-left: 2px;
	vertical-align: middle;
}
#searchform button span {
	padding: 7px 13px;
	line-height: 1em;
}
#feature #searchform .text_input {
	color: #ffffff;
	font-size: 14px;
}
/* Tags
---------------------------------------------------------- */
.widget_tag_cloud a {
	padding: 2px 4px;
}
/* Calendar
---------------------------------------------------------- */
.widget_calendar table {
	margin: 0;
	width: 100%;
}
.widget_calendar caption {
	padding-bottom: 5px;
	font-size: 1.2em;
}
.widget_calendar td, .widget_calendar th {
	padding: 3px 0;
	text-align: center;
}
.widget_calendar tfoot td {
	padding: 8px 0;
	font-size: 1.1em;
}
.widget_calendar #prev {
	text-align: left;
}
.widget_calendar #next {
	text-align: right;
}
.widget_calendar a {
	font-size: 1.3em;
}
/* Recent Comments
---------------------------------------------------------- */
.widget_recent_comments ul li a {
	background: none;
}
.widget_recent_comments ul li span {
	padding-left: 27px !important;
	background: url(../images/widget_list_arrows.png) no-repeat scroll -19px -20px transparent !important;
}
#footer .widget_recent_comments ul li a {
	background: none;
}
#footer .widget_recent_comments ul li span {
	padding-left: 27px !important;
	background: url(../images/footer_widget_list_arrows.png) no-repeat scroll -19px -20px transparent;
}
/* Pages
---------------------------------------------------------- */
.widget_pages ul ul {
	margin: 5px 0 -6px 2em;
	border-top: 1px solid #f0f0f0;
}
#footer .widget_pages ul ul {
	margin-left: 2em;
}
#footer .widget_pages ul ul li {
	background: none;
}
/* Post List
---------------------------------------------------------- */
.posts_list {
	margin: 0;
	list-style: none;
}
.posts_list p {
	margin: 0;
}
.posts_list li, #sidebar .posts_list li, #footer .posts_list li {
	padding: 5px 0;
}
.posts_list li a, #sidebar .posts_list li a, #footer .posts_list li a {
	padding: 0;
	background: none;
	line-height: 20px;
}
.posts_list .thumbnail, #sidebar .posts_list .thumbnail, #footer .posts_list .thumbnail {
	display: block;
	float: left;
	margin: 4px 8px 8px 0;
	border: 1px solid #eee;
	line-height: 100%;
}
.posts_list .thumbnail img {
	display: block;
	width: 65px;
	height: 65px;
	border: 1px solid #fff;
}
.posts_list time {
	display: block;
}
.posts_list .post_extra_info {
	overflow: hidden;
}
#footer .posts_list .thumbnail img {
	width: 60px;
	height: 60px;
	border: none;
}
/* Authors
---------------------------------------------------------- */
.authors_list {
	margin: 0;
	list-style: none;
}
.authors_list li, #sidebar .authors_list li, #footer .authors_list li {
	overflow: hidden;
	padding: 5px 0;
}
.widget_authors .gravatar {
	float: left;
	margin: 4px 8px 8px 0;
	height: 60px;
	border: 1px solid #eee;
}
.widget_authors .gravatar img {
	display: block;
	padding: none;
	padding: 0;
	width: 60px;
	height: 60px;
	border: none;
}
/* Contact Form
---------------------------------------------------------- */
.widget_contact_form p {
	margin-bottom: 10px;
}
.widget_contact_form label {
	padding-left: 6px;
}
.widget_contact_form .invalid {
	border: 2px solid #999 !important;
}
#footer .widget_contact_form .invalid {
	border: 1px solid #fff;
	border: rgba(255, 255, 255, 0.5) 1px solid;
}
#footer .widget_contact_form .text_input {
	width: 60%;
}
#footer .widget_contact_form .textarea {
	width: 92%;
}
/* for shortcode */
.contact_form_wrap .contact_form .text_input {
	padding: 6px;
	width: 60%;
}
.contact_form_wrap .contact_form .textarea {
	padding: 6px;
	width: 95%;
	height: 250px;
}
.contact_form_wrap .contact_form label {
	padding-left: 5px;
}
.contact_form_wrap .contact_form .invalid {
	border: 2px solid #999 !important;
}
/* Contact Info Widget
---------------------------------------------------------- */
.contact_info_wrap .icon_text, .contact_info_wrap .contact_address {
	padding-left: 26px;
}
.contact_info_wrap p {
	margin-bottom: 5px;
}
.contact_info_wrap .contact_zip {
	padding-left: 5px;
}
/* Twitter Widget
---------------------------------------------------------- */
.widget_twitter .tweet_list li {
	padding: 5px 5px 5px 22px;
	background: url(../images/widget_list_arrows.png) no-repeat scroll 3px -40px transparent;
	word-wrap: break-word;
	line-height: inherit;
}
.widget_twitter .tweet_list a {
	padding: 0;
	background: none;
	line-height: 20px;
}
/* for shortcode */
.twitter_wrap .tweet_list {
	margin: 0;
	list-style: none;
}
.twitter_wrap .tweet_list li {
	margin: 0;
	padding: 5px 5px 5px 22px;
	background: url(../images/widget_list_arrows.png) no-repeat scroll 3px -40px transparent;
	word-wrap: break-word;
	line-height: inherit;
}
.twitter_wrap .tweet_list a {
	padding: 0;
	background: none;
}
/* with avatar */
.twitter_wrap.with_avatar .tweet_list li, #sidebar .widget_twitter .with_avatar .tweet_list li {
	overflow: hidden;
	padding-left: 0;
	background: none;
}
#footer .widget_twitter .with_avatar .tweet_list li {
	overflow: hidden;
	padding-left: 0;
}
#sidebar .widget_twitter .with_avatar .tweet_list a.tweet_avatar, #footer .widget_twitter .with_avatar .tweet_list a.tweet_avatar, .twitter_wrap .tweet_list a.tweet_avatar {
	float: left;
	padding-right: 10px;
}
/* Flickr Widget
---------------------------------------------------------- */
.flickr_wrap {
	position: relative;
}
.flickr_wrap .flickr_badge_image {
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	border: 1px solid #eeeeee;
	line-height: 100%;
}
.flickr_wrap .flickr_badge_image img {
	display: block;
	width: 75px;
	height: 75px;
	border: 1px solid #ffffff;
	background-color: #f9f9f9;
}
#footer .flickr_wrap {
	margin-right: -9px;
}
#footer .flickr_badge_image {
	margin: 0 9px 9px 0;
}
#footer .flickr_wrap img {
	width: 60px;
	height: 60px;
}
/* Social Icon Widget
---------------------------------------------------------- */
.widget_social a {
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
}
.widget_social a:hover {
	border: 0;
	text-decoration: none;
}
.widget_social img {
	margin: 0 10px 5px 0;
}
.widget_social .social_animation_fade img, .widget_social .social_animation_combo img {
	opacity: 0.7;
	-moz-opacity: 0.7;
}
.widget_social .social_animation_fade img:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
	-moz-opacity: 1;
}
.widget_social .social_animation_scale img:hover {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: scale(1.2);
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-zoom: 1.2;
}
.widget_social .social_animation_bounce img:hover {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: translate(0px, -2px);
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
	-webkit-transform: translate(0, -2px);
	-moz-transform: translate(0, -2px);
	transform: translate(0, -2px);
}
.widget_social .social_wrap.social_animation_combo img:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
	-webkit-transform: scale(1.2) translate(0, -2px);
	-moz-transform: scale(1.2) translate(0, -2px);
	-o-transform: scale(1.2) translate(0, -2px);
	transform: translate(0, -2px);
	-ms-zoom: 1.2;
	-moz-opacity: 1;
}
/* Google Map Widget
---------------------------------------------------------- */
.widget_gmap .google_map {
	height: 220px;
}
.widget_gmap .google_map {
	color: #666;
}
/* Rss Widget
---------------------------------------------------------- */
#footer .widget_rss ul li {
	background: url("../images/footer_list_divider.png") repeat-x scroll 0 bottom transparent;
}
/** Advertisement Widget
---------------------------------------------------------- */
.widget_advertisement_125 {
	clear: left;
	overflow: hidden;
}
.widget_advertisement_125 a {
	display: block;
	float: left;
	overflow: hidden;
	margin: 1px 9px 9px 1px;
	height: 125px;
	font-size: 0;
	line-height: 100%;
}
.widget_advertisement_125 img {
	width: 125px;
	height: 125px;
}
.widget_advertisement_125 a:hover {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* Saf3.0+, Chrome */
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* FF3.5+ */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9.0 */
}
.widget_advertisement_125 a:hover img {
	opacity: 0.8;
	-moz-opacity: 0.8;
}
/* ======================================================= */
/*                     Video & Audio                       */
/* ======================================================= */
.video_frame {
	max-width: 100%;
	font-size: 0;
	line-height: 100%;
}
.audio_frame {
	max-width: 100%;
}
.video_frame .mejs-container, .audio_frame .mejs-container, .video_frame object, .video_frame iframe, .video_frame video, .video_frame audio {
	max-width: 100%;
}
.mejs-poster img {
	height: 100%;
}
/* ======================================================= */
/*                     Enhance Styles                      */
/* ======================================================= */
.entry_frame,pre,code,.wp-caption,.tabs_container .panes,ul.mini_tabs li,.accordion,.table_style,.framed_box_content,.gravatar,.widget_posts_list .thumbnail {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* Saf3.0+, Chrome */
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* FF3.5+ */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);  /* Opera 10.5, IE 9.0 */
}
